body{
  margin: 0;
  font-family:  'Roboto', sans-serif;
}


.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  margin: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 2px
  background-color: green;
  position: sticky;
  overflow: scroll;
}

.form-container::-webkit-scrollbar {
  display: none;
}

.form-container input {
  height: 34px;
  margin-bottom: 20px;
  background-color: white;
  width: 98%;
}

.form-container h5 {
  margin-bottom: 5px;
}

.form-container button {
  border: 1px solid;
  border-color: lightgray;
  border-radius: 2px;
  width: 100%;
  color: white;
  background-color:#1877F2;
  height: 50px;
  margin-top: 10px;
}

.form-container button:hover {
  opacity: 0.9;
  border: 1px solid black;
}

#error {
  font-size: 15px;
  color: red;
}

.custom-alert-success {
  border: 2px solid #1EDD88;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  width: 330px;
  height: 20px;
}

.custom-alert-warning {
  border: 2px solid #FFC65A;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  width: 642px;
  height: 20px;
}

.custom-alert-danger {
  border: 2px solid #FD1015;
  padding: 16px 24px;
  display: flex;
  align-content:center;
  margin-top: 30%;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  width: 510px;
  height: 20px;
}

